.carousel-container {
  display: flex;
  transition: transform 1s linear;
  animation: slide 10s linear infinite;
}

.carousel-container.reverse {
  flex-direction: row-reverse;
}

.carousel-container.animate {
  animation-play-state: running;
}

@keyframes slide {
  0% {
    transform: translateX(var(--carousel-translate, 0));
  }
  100% {
    transform: translateX(calc(var(--carousel-translate, 0) * -1));
  }
}
